@{
    ViewData["Title"] = "Edit Task";
}
@model Mission08_Team0415.Models.Task

<h1>Edit Task - @Model.TaskName</h1>

Placeholder for the form to edit a task.

<br />
|-------------|<br />
|Submit Button|<br />
|-------------|