@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to our To-Do List</h1>
</div>

<div class="container">
    <div class="row" style="border: 1px solid black";>
        <div class="col" style="border: 1px solid black";></div>
        <div class="col" style="border: 1px solid black";><h4>Urgent</h4></div>
        <div class="col" style="border: 1px solid black";><h4Not Urgent</div>
    </div>
    <div class="row" style="border: 1px solid black";>
        <div class="col" style="border: 1px solid black" ;>Important</div>
        <div class="col" style="border: 1px solid black" ;>Quadrant 1</div>
        <div class="col" style="border: 1px solid black" ;>Quadrant 2</div>
    </div>
    <div class="row" style="border: 1px solid black" ;>
        <div class="col" style="border: 1px solid black" ;>Not Important</div>
        <div class="col" style="border: 1px solid black" ;>Quadrant 3</div>
        <div class="col" style="border: 1px solid black" ;>Quadrant 4</div>
    </div>
</div>
