@{
    ViewData["Title"] = "Home Page";
}
@model List<Mission08_Team0415.Models.Task>

<div class="text-center">
    <h1>Welcome to our To-Do List</h1>
</div>

<div class="container">
    <div class="row" style="border: 1px solid black; ">
        <div class="col-1" style="border: 1px solid black;"></div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Urgent</b></h4></div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Not Urgent</b></h4></div>
    </div>
    <div class="row" style="border: 1px solid black;">
        <div class="col-1" style="border: 1px solid black; writing-mode: vertical-rl; text-orientation: mixed; transform: rotate(180deg); text-align: center;"><h4><b>Important</b></h4></div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Quadrant 1</b></h4>
            @foreach (var x in Model.Where(x => x.Quadrant == "1"))
            {
                <p>
                    @x.TaskName &nbsp;&nbsp;
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a>

                </p>
            }

        </div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Quadrant 2</b></h4>
            @foreach (var x in Model.Where(x => x.Quadrant == "2"))
            {
                <p>
                    @x.TaskName &nbsp;&nbsp;
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a>

                </p>
            }
        </div>
    </div>
    <div class="row" style="border: 1px solid black;">
        <div class="col-1" style="border: 1px solid black; writing-mode: vertical-rl; text-orientation: mixed; transform: rotate(180deg); text-align: center;"><h4><b>Not Important</b></h4></div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Quadrant 3</b></h4>
            @foreach (var x in Model.Where(x => x.Quadrant == "3"))
            {
                <p>
                    @x.TaskName &nbsp;&nbsp;
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a>
                    
                </p>
            }
        </div>
        <div class="col" style="border: 1px solid black; text-align: center;"><h4><b>Quadrant 4</b></h4>
            @foreach (var x in Model.Where(x => x.Quadrant == "4"))
            {
                <p>
                    @x.TaskName &nbsp;&nbsp;
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a>

                </p>
            }
        </div>
    </div>
</div>
